.color-1 {
  color: #081c15;
}
.bg-color-1 {
  background-color: #081c15;
}
.color-2 {
  color: #1b4332;
}
.bg-color-2 {
  background-color: #1b4332;
}
.color-3 {
  color: #2d6a4f;
}
.bg-color-3 {
  background-color: #2d6a4f;
}
.color-4 {
  color: #40916c;
}
.bg-color-4 {
  background-color: #40916c;
}
.color-5 {
  color: #d8f3dc;
}
.bg-color-5 {
  background-color: #d8f3dc;
}
.color-6 {
  color: #52b788;
}
.bg-color-6 {
  background-color: #52b788;
}
.color-7 {
  color: #74c69d;
}
.bg-color-7 {
  background-color: #74c69d;
}
.color-8 {
  color: #95d5b2;
}
.bg-color-8 {
  background-color: #95d5b2;
}
.color-9 {
  color: #b7e4c7;
}
.bg-color-9 {
  background-color: #b7e4c7;
}
.tache {
  width: 80px;
  height: 80px;
}
