// Sizing
$unit_size: 0.25rem;
$sizing_start: 1;
$sizing_end: 12;

@for $i from $sizing_start through $sizing_end {
    .p-#{$i} {
      padding: $unit_size * $i !important;
    }
    .m-#{$i} {
      margin: $unit_size * $i !important;
    }
    .w-#{$i} {
      width: $unit_size * $i !important;
    }
    .h-#{$i} {
      height: $unit_size * $i !important;
    }
    .gap-#{$i} {
      gap: $unit_size * $i !important;
    }
  }