
   @import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

   $title_sizes: ("xxl": 6rem, "xl": 5rem, "lg": 4rem, "md": 3rem, "sm":2.5rem, "xs":2.2rem);
   $text_sizes: ("xxl": 1.7rem, "xl": 1.5rem, "lg": 1.44rem, "md": 1.3rem, "sm":1.2rem, "xs":1.1rem);

   @each $key, $value in $title_sizes {
    .title-#{$key}{
        font-family: 'Domine', sans-serif;
        font-size: $value;
        color: blue;
        margin-top: $value ;
        margin-bottom: $value / 4;
    }
  }

  @each $key, $value in $text_sizes {
    .text-#{$key}{
        font_family: 'Domine', sans-serif;
        color: blue;
        font-size: $value;
        line-height: $value*1.3;
    }
  }
