$colors = #081C15 #1B4332 #2D6A4F #40916C #D8F3DC #52B788 #74C69D #95D5B2 #B7E4C7 ;

for color,index in $colors{
  .color-{index+1}{
    color: color;
    }

  .bg-color-{index+1}{
    background-color: color;
    }
}

.tache{
  width: 80px;
  height: 80px;
  }
