.tache{
  width: 80px;
  height: 80px;
}

$main_color = rgb(38, 70, 83);
$second_color = rgb(42, 157, 143);
$third_color = rgb(233, 196, 106);
$fourth_color = rgb(244, 162, 97);
$fith_color = rgb(231, 111, 81);

$color-list = $main_color $second_color $third_color $fourth_color $fith_color;


for color, value in $color-list{
  
  .bg-color-{value+1}{
    background-color: color;
  }

  .color-{value+1}{
    color: color;
  }

  for index in range(0,5){
    $prod_color= spin(color, (index+1)*(-20deg));
    $complementary= complement(color);

    .bg-color-{value+1}-dark-{index+1}{
      background-color: shade(color, (index+1)*(10%));
    }
    
    .bg-color-{value+1}-light-{index+1}{
      background-color: tint(color, (index+1)*(10%))
    }

    .color-{value+1}-dark-{index+1}{
      color: shade(color, (index+1)*(10%));
    }

    .color-{value+1}-light-{index+1}{
      color: tint(color, (index+1)*(10%));
    }

  }
}
