@require "typo";

input, label{
  line-height: 1;
  }

.form{

  input {
    padding: ($base * $selected_ratio / 4) rem;
    display: block;
    margin-top: ($base * $selected_ratio / 2 ) rem;
    width: 100%;
  }

  label{
      margin-top: ($base * $selected_ratio ) rem;
      display:block;
  }
  }
