.object-fit-fill{
    object-fit: fill;
}

.object-fit-contain{
    object-fit: contain;
}

.object-fit-cover{
    object-fit: cover;
}

.object-fit-none{
    object-fit: none;
}

.object-fit-scale-down{
    object-fit: scale-down;
}

.object-top{
    object-position: top;
}

.object-bottom{
    object-position: bottom;
}

.object-left{
    object-position: left;
}

.object-right{
    object-position: right;
}

.object-center{
    object-position: center;    
}

.object-top-right{
    object-position: top right;
}

.object-top-left{
    object-position: top left;
}

.object-bottom-right{
    object-position: bottom right;
    
}

.object-bottom-left{
    object-position: bottom left;
}


.image-demo{
    width:250px;
    height:250px;

}
