@require 'typo';

$direction = {
    'r': right,
    'l': left,
    'b': bottom,
    't': top
}

.static{
    position: static;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.fixed{
    position: fixed;
}

.sticky{
    position: sticky;
}



for num in 1..10{

    for letter in $direction {
        .{letter}-{num}{
            {$direction[letter]}: $base * ($selected_ratio ** num) rem;
        }

    }

}


for num in 1..100{
    .z-index-{num}{
        z-index: num;    
    }    
}