@require 'typo';
@require 'breakpoints';


.carre{
  background-color: blue;
  width: 80px;
  height: 40px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  }

  $direction = {
    'r': right,
    'l': left,
    'b': bottom,
    't': top
  }

for num in 1..12{

  for letter in $direction {
    .m{letter}-{num}{
        margin-{$direction[letter]}: $base * ($selected_ratio ** num) rem;
      }

      .p{letter}-{num}{
        padding-{$direction[letter]}: $base * ($selected_ratio ** num) rem ;
        }
  }

    .w-{num}{
        width: $base * ($selected_ratio ** num)rem;
      }

    for breakpoint in $breakpoints{
      .{breakpoint}\\:w-{num}{
          @media (min-width: $breakpoints[breakpoint]) {
           width:$base * ($selected_ratio ** num)rem !important;
          }
        }
    }

    .h-{num}{
        height: $base * ($selected_ratio ** num)rem;
      }
}

for breakpoint in $breakpoints{

  .w-{breakpoint}{
    width: $breakpoints[breakpoint];
    }
} 


