@import 'reset';

@font-face{
    font-family: 'portrait'
    src url("/fonts/portrait-regular.woff") format("woff")
}

$fibo = 1 1 2 3 5 8 13 21 34 55 89 144
$unit = 1.63rem;

  for num in (1..5){
    h{num}{
      font-size: $fibo[5 - num] * $unit rem;
      font-family: 'portrait';
    }

    h{num} + p {
      margin-top: $fibo[5 - num] * 0.50 rem;
    }
    
    p + h{num} {
      margin-top: $fibo[5 - num] * 0.50 rem;
      }
    ul + h{num} {
      margin-top: $fibo[5 - num] * 0.50 rem;
      }
  }

  p, ul, ol, li {
    font-size: $unit * $fibo[1];
    color: rgb(51, 51, 51);
    font-family: 'portrait';
    line-height:1.4;
  }

  ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: $unit * $fibo[1];
  }

  p + p{
      margin-top: $fibo[2] * 0.50 rem;
    }
  p + ul{
      margin-top: $fibo[2] * 0.50 rem;
    }
